nav a{
    color:white;

}

nav a:hover{
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    font-weight: bold;
}

.itt{
    color:rgb(0, 0, 0);
    background-color: rgb(128, 128, 128);
    border-radius: 3px;
    font-weight: bold;
}
/*apetikeakirályalegjobbazistenésazizommegtestesítője

<<<<<<< HEAD
/*Henye a királyzgdzausggzs
=======
>>>>>>> e9ce93fc6311f10b1e9d92c9ccd5f90c3c68b1ae
